.wp-block-asphalt-proposal-manager-list {
    margin: 0 !important;
}

.wp-block-asphalt-proposal-manager-list ul,
.wp-block-asphalt-proposal-manager-list ol {
    margin: 0;
    display: grid;
    gap: 8px;
    padding-left: 12px;
}

.wp-block-asphalt-proposal-manager-list li {
    line-height: 1.6;
}