@import url('./style.css');

.wp-block-asphalt-proposal-manager-table .blocks-table__placeholder-form {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.wp-block-asphalt-proposal-manager-table .blocks-table__placeholder-form .components-base-control {
    margin-bottom: 0;
}

.wp-block-asphalt-proposal-manager-table .blocks-table__placeholder-form .components-text-control__input {
    width: 80px;
}