.wp-block-asphalt-proposal-manager-table {
    width: 100%;
    overflow-x: auto;
}

.wp-block-asphalt-proposal-manager-table .pc-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}