.create-proposal-modal {
    border-radius: 16px !important;

    .components-modal__content  {
        padding: 0px !important;
    }

    .components-navigator-screen {
        margin-bottom: 95px;
    }
}